<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-photo-rse-heading" jhiTranslate="rseApp.photo.home.createOrEditLabel">Create or edit a Photo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rseApp.photo.originalImage" for="field_originalImage">Original Image</label>
                    <input type="text" class="form-control" name="originalImage" id="field_originalImage"
                           formControlName="originalImage"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rseApp.photo.thumbnail" for="field_thumbnail">Thumbnail</label>
                    <input type="text" class="form-control" name="thumbnail" id="field_thumbnail"
                           formControlName="thumbnail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rseApp.photo.width" for="field_width">Width</label>
                    <input type="number" class="form-control" name="width" id="field_width"
                           formControlName="width"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rseApp.photo.height" for="field_height">Height</label>
                    <input type="number" class="form-control" name="height" id="field_height"
                           formControlName="height"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rseApp.photo.rankOrder" for="field_rankOrder">Rank Order</label>
                    <input type="number" class="form-control" name="rankOrder" id="field_rankOrder"
                           formControlName="rankOrder"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rseApp.photo.commodity" for="field_commodity">Commodity</label>
                    <select class="form-control" id="field_commodity" name="commodity" formControlName="commodity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="commodityOption.id === editForm.get('commodity').value?.id ? editForm.get('commodity').value : commodityOption" *ngFor="let commodityOption of commodities; trackBy: trackCommodityById">{{commodityOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
